In [1]:
#1-	To reverse list using slicing 
list1= [10, 20, 30, 40, 50]
list1 = list1[::-1]
print(list1)

[50, 40, 30, 20, 10]

In [2]:
#Reverse list using reverse method
#Oneliner code
list1= [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [3]:
#wapping the value of two variables
#Commonly we use a third variable to perform swap operation. For example,
num1 = 20
num2 =50
temp = num1
num1 = num2
num2 = temp
print(num1, num2)

50 20

In [4]:
#wapping the value of two variables
num1 = 20
num2 =50
#Oneliner code
num1, num2 = num2, num1
print(num1, num2)

50 20

In [5]:
#wapping the value of five variables
num1 = 10
num2 = 20
num3 = 30
num4 = 40
num5 = 50
#Oneliner code
num1, num2, nume3, num4, num5  = num5, num4,num3, num2, num1

print(num1, num2, nume3, num4, num5)

50 40 30 20 10

In [6]:
#to convert list string items into int
#Map method
#Oneliner code
list1 = list(map(int, ["10", "20", "30", "40", "50"]))
print(list1)

[10, 20, 30, 40, 50]

In [7]:
#to filter common items in the two lists
list1 = [10, 20, 30, 40, 50]
list2 = [10, 12, 22, 30, 50]
#Oneliner code
common_elements = list(filter(lambda item: item in list1, list2))
print(common_elements)

[10, 30, 50]

In [8]:
#to filter uncommon or different items in the two lists
list1 = [10, 20, 30, 40, 50]
list2 = [10, 12, 22, 30, 50]
#Oneliner code
common_elements = list(filter(lambda item: item not in list1, list2))
print(common_elements)

[12, 22]

In [9]:
#list comprehension 
list1 = []
for i in range(10):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#List comprehension
#Oneliner code
list1 = [i for i in range(10)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
#to filter items in lists that meet specified criteria
list1 = [10, 20, 30, 5, 16, 2, 40, 12, 6,50]
#Oneliner code
list1 = [i for i in list1 if i > 15]
print(list1)

[20, 30, 16, 40, 50]

In [12]:

def name(first, middle, last):
    return f"{first} {middle} {last}" 

myName = name("Virendra", "Kumar","Shrivastava") 
print(myName)

Virendra Kumar Shrivastava

In [13]:
#Lambda function / anonymous function
#Oneliner code
myName = lambda first, middle, last: f"{first} {middlle} {last}" 
myName = name("Virendra", "Kumar","Shrivastava") 
print(myName)

Virendra Kumar Shrivastava

In [14]:
#Lambda function / anonymous function
#Oneliner code
highOrderFunction = lambda n, func: n + func(n)
res1 = highOrderFunction(4, lambda n: n*n) 
res2 = highOrderFunction(5, lambda n : n*n*n)
res3 = highOrderFunction(2, lambda n : n*3)

print(res1, res2, res3)

20 130 8

In [15]:
for i in range(10):
    print("Hi", end = "")

HiHiHiHiHiHiHiHiHiHi

In [16]:
print("Hi"*10)

HiHiHiHiHiHiHiHiHiHi

In [17]:
# To remove repeated items from a list
numbers = [10, 20, 20, 30, 30, 30, 12, 34, 12]
#Oneliner code
print(list(set(numbers)))

[34, 10, 12, 20, 30]

In [18]:
#zip function
#Oneliner code
names = list(zip(('Mrs', 'Mr'), ['Amita', 'Jay']))
print(names)

[('Mrs', 'Amita'), ('Mr', 'Jay')]