### Tuple, List and Dictionay Tutorial

In [1]:
students = (1, 'vishal',26, 'Pune')

In [2]:
print(students)

(1, 'vishal', 26, 'Pune')

In [3]:
students = (1, 'vishal',26, 'Pune','India')

In [4]:
# To print second element of the tuple
students[1]

'vishal'

In [5]:
#Change or modify value of second element
students[1] = 'Anuj'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Create a list varialbe
students = [1, 'vishal',26, 'Pune', 1, 'Aman',23, 'Goa' ]

In [ ]:
type(students)

In [6]:
#To print students 
print(students)

(1, 'vishal', 26, 'Pune', 'India')

In [7]:
#to display 2nd element "Vishal" of students list
students[1]

'vishal'

In [8]:
#to change or modify 2nd element value 
students[1] = "Vinod"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#declare one element array
tuple1 = (2)

In [ ]:
#print type of tuple1
type(tuple1)

In [9]:
#declare one element array
tuple2 = (2,)

In [10]:
#print type of tuple2
type(tuple2)

tuple

In [11]:
students = [1, 'vishal',26, 'Pune', 1, 'Aman',23, 'Goa' ]

In [12]:
#to get last element of students
students[-1]

'Goa'

In [13]:
#to get second last element of students
students[-2]

23

In [14]:
list()

[]

In [15]:
list(students)

[1, 'vishal', 26, 'Pune', 1, 'Aman', 23, 'Goa']

In [16]:
#to create an empty dictionary
dict1 = {}

In [17]:
#to print type of dict1
type(dict1)

dict

In [18]:
#careate disctionay
student_dict = {1:"Anajy", 2:"Aman", 3:"Naman"}

In [19]:
#print student_dict elements
student_dict

{1: 'Anajy', 2: 'Aman', 3: 'Naman'}

In [21]:
#To print keys of student_dict
student_dict.keys()

dict_keys([1, 2, 3])

In [ ]:
To print values of student_dict
student_dict.values()